.btn{
    display: inline-block;
    text-align: center;
    line-height: 1em;
    padding: 0.4em 1em;
    border-radius: 2px;
    border:none;
    outline: none;
    text-decoration: none;
    cursor: pointer;
}
.btn-lg{
    font-size: 18px;
}
.btn-md{
    font-size: 16px;
}
.btn-sm{
    font-size: 14px;
}
.btn-3d{
    border: 2px solid #b5afaf;
    border-top: 0;
    border-left: 0;
    border-right: none;
    box-shadow: 0 1px 2px 0px #727070;
    transition: all .050s;
    &:active{
        border-color:transparent;
        transform: translateY(1px);
        box-shadow: 0 0 0 0;;
    }
}
.btn-radius{
    border-radius: 99px;
}